@import 'variables';

@font-face {
    font-family: "ShipporiAntique";
    src: local("ShipporiAntique-Regular"),
      url("../../assets/fonts/ShipporiAntique-Regular.ttf") format("truetype");
    font-weight: normal;
  }