@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: white !important;
  font-family: "ShipporiAntique" !important;
}

.navbar {
  background-color: black;
  font-family: 'Bauer';
  padding: 0 1em 0 1em;
  font-size: 1.5em;
  font-family: "ShipporiAntique" !important;
}

.nav-toggle {
  color: white !important;
  background-color: #cfb062 !important;
}

.navlink {
  color:#cfb062 !important;
  text-shadow: 0px 0px 1px rgb(104, 78, 13);
}

.navlink:hover {
  color: rgb(155, 138, 94) !important;
}

.nav-item {
  margin-left: 1em;
}

.nav-logo {
  width: 7em;
  margin: -.2em;
}

.nav1 {
  animation: slide .5s 1;
}

.nav2 {
  animation: slide 1s 1;
}

.nav3 {
  animation: slide 1.5s 1;
}

.nav4 {
  animation: slide 2s 1;
}

@keyframes slide {
  0% {
    transform: translateY(-20em);
  }
  100% {
    transform: translateY(0);
  }
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 25em;
  margin-top: 8em;
  color: rgb(68, 68, 68);
  align-items: center;
}

.bio-image img {
  border: 1px transparent;
  border-radius: 2px;
  margin-right: 1em;
  max-height: 100%;
}

.bio-image {
  display: flex;
  justify-content: center;
  animation: fade 4s 1;
}

.bio-body {
  word-wrap: break-word;
  margin: 1em;
  text-overflow: inherit;
  flex-grow: 1;
  flex-basis: 50%;
}

.bio-body p {
  font-size: 1.2em;
  animation: fade 4s 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.bio-body h3 {
  color: #cfb062;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.61);
  animation: typing 1.7s steps(17, end),
  blink 1s step-end infinite;
  letter-spacing: .37em;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #cfb062;
  width: 100%;
}

.bio-name {
  width: 27.9em;
}

@keyframes expand {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(100%);
    opacity: 100;
  }
}

.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
  font-size: 200%;
}

.contact-icon {
  font-size: 3em;
  color: #cfb062;
}

.contact-icon-link:hover {
  color: rgb(155, 138, 94) !important;
}

.contact-icon-container {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40, end);
  margin-left: .15em;
}

.contact-page-icon {
  width: 100%;
  text-align: center;
  letter-spacing: .15em;
  border-right: .15em solid #cfb062;
  animation: blink 1s step-end infinite;
  overflow: hidden;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #cfb062; }
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4em 1em 0 1em;
}

.tech-card {
  display: flex;
  flex-direction: column;
  margin: 0 2em 4em 2em;
  text-align: center;
  color: #cfb062;
  text-shadow: 0 0 2px rgb(160, 151, 151);
  animation: fade 3s 1;
}

.tech-image {
  max-height: 12em;
  padding: 0.5em;
  align-self: center;
}

.admin-page-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
}

.admin-forms-container {
  margin: 1em;
  align-items: center;
}

.admin-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  padding: .5em;
  margin-bottom: 2em;
}

.admin-form-container form {
  display: flex;
  flex-direction: column;
  margin: .5em;
}

.admin-project-container, .admin-tech-container {
  display: flex;
  border: 1px solid black;
  margin: 2em;
  padding: 2em;
  flex-wrap: wrap;
}

.project-admin-card form, .tech-admin-card form {
  display: flex;
  flex-direction: column;
  margin: .5em;
  border: 1px solid black;
  border-radius: 6px;
  padding: .5em;
}
.admin-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-link {
  color: black;
  text-decoration: none;
  margin-top: -1.5em;
}

.project-link:hover {
  color: goldenrod;
}

.project-github-icon {
  font-size: 1.5em;
}

.projects-container {
  display: flex;
  justify-content: center;
  padding: 1em;
  margin-top: 2em;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  border: 1px transparent;
  border-radius: 6px;
  background-image: linear-gradient(90deg,#cfb06252, #d1c29c, #cfb06252);
  height: 33em;
  flex-basis: 23%;
  margin: 1em;
  padding: .5em 1em .5em 1em;
  align-items: center;
  justify-content: space-evenly;
  word-wrap: break-word;
  min-width: 22em;
  max-width: 22em;
  animation: turn 8s infinite;
  animation-timing-function: linear;
}

@keyframes turn {
  0% {
    background-position: 22em, 0;
   }
  50% {
    background-position: 0, 0;
   }
   100% {
    background-position: -22em, 0;
    }
}

.project-card p {
  text-align: center;
  
}

.project-card img {
  width: 90%;
  height: 11em;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  color: #cfb062;
  width:100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  height: 3em;
  line-height: 3em;
  display: flex;
  justify-content: space-evenly;
}

.auth-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding:0;
  opacity: 0;
  line-height: 1.5em;
}

.contact-icon, .footer-icon {
  font-size: 1.2em;
}

@media only screen and (max-width: 1650px) {
 
  .bio-body p {
    text-align: center;
  }

  .bio-body {
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-basis: none;
    padding: 0;
    margin: 1em 0 0 0;
    width: 100%;
  }

  .bio-body h3 {
    align-items: center;
    width: 100%;
    font-size: 1.2em;
    letter-spacing: .17em;
    animation: typing 1.5s steps(19, end),
      blink 1s step-end infinite,
      fade 1.5s 1;
  }

  .bio-container {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 4em;
  }

  .contact-container {
    margin-top: 3em;
    font-size: 250%;
  }

  .bio-name {
    width: 15em;
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 1000px) {

  .navbar {
    font-size: 1em;
  }

  .bio-image img {
    width: 100%;
    margin: 0;
  }

  .contact-container {
    font-size: 150%;
  }
}

@media only screen and (max-width: 670px) {
  
  .project-card {
    flex-basis: 100%;
    min-width: 80%;
  }

  .contact-container {
    font-size: 100%;
  }

  .admin-page-container div {
    width: 90%;
  }

  .bio-image {
    animation: fade 2.5s 1;
  }

  .bio-name {
    font-size: 1.5em;
  }

  .bio-body p {
    padding-bottom: 2em;
  }
}

@media only screen and (max-width: 530px) {

  .bio-name {
    font-size: 1.2em;
  }

  .bio-container {
    margin-top: 2.5em;
  }

}

@media only screen and (max-width: 400px) {

  .bio-name {
    font-size: 1em;
  }

}

@media only screen and (max-width: 766px) {

  @keyframes slide {
    0% {
      transform: translateX(-20em);
    }
    100% {
      transform: translateX(0);
    }
  }

}