@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: white !important;
}

.navbar {
  background-color: #49494988;
  font-family: 'Bauer';
  padding: 0;
  font-size: 1.5em;
  font-family: "ShipporiAntique";
}

.navlink {
  color: goldenrod;
}

.nav-item {
  margin-left: 1em;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-container {
  display: flex;
  border: 1px solid black;
  border-radius: 12px;
  width: 70%;
  height: 25em;
  overflow: hidden;
  margin-top: 3em;
}

.bio-image img {
  border: 1px transparent;
  object-fit: contain;
  margin-right: 1em;
  max-height: 100%;
  border-right: 1px solid black;
}

.bio-body {
  word-wrap: break-word;
  margin: 1em;
  text-overflow: inherit;
}

.bio-body p {
  font-size: .9em;
}

.contact-icon {
  font-size: 3em;
  color: goldenrod;
}

.tech-container {
  display: flex;
  margin: 2em 1em 0 1em;
}

.tech-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.tech-image {
  max-width: 12em;
  padding: 0.5em;
}

.admin-page-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
}

.admin-forms-container {
  margin: 1em;
  align-items: center;
}

.admin-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  padding: .5em;
  margin-bottom: 2em;
}

.admin-form-container form {
  display: flex;
  flex-direction: column;
  margin: .5em;
}

.admin-project-container, .admin-tech-container {
  display: flex;
  border: 1px solid black;
  margin: 2em;
  padding: 2em;
  flex-wrap: wrap;
}

.project-admin-card form, .tech-admin-card form {
  display: flex;
  flex-direction: column;
  margin: .5em;
  border: 1px solid black;
  border-radius: 6px;
  padding: .5em;
}
.admin-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}